{
  acme_ca https://acme-v02.api.letsencrypt.org/directory
}

techrole.ru {
  encode zstd gzip
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "strict-origin-when-cross-origin"
    Permissions-Policy "camera=(), microphone=(), geolocation=()"
    -Server
  }
  reverse_proxy frontend:3000
}

www.techrole.ru {
  redir https://techrole.ru{uri} permanent
}

94-102-88-123.sslip.io {
  redir https://techrole.ru{uri} permanent
}

